* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.AllCardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0 5rem;
}

.CardContainer {
  border: solid 2px #361e12;
  margin: 1rem 1rem;
  width: 400px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 30px;
}

.CardHeader {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
  width: 100%;
  height: 100%;
}

.CardHeaderImg {
  width: 150px;
  height: 150px;
  border-radius: 30px;
  border: solid 1px #361e12;
  align-self: center;
}

.CardText {
  margin-left: 0.4rem;
  text-align: center;
}

.CardTextInfo {
  display: flex;
  justify-content: space-around;
  min-width: 160px;
  padding-top: 1rem;
}

.CardCatBoxLunch {
  background-color: rgba(0, 255, 255, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 30px;
  text-align: center;
  padding: 0.2rem 0.4rem;
  padding-top: 0.3rem;
  font-weight: 600;
}
.CardCatBoxDinner {
  background-color: rgba(46, 139, 86, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 30px;
  text-align: center;
  padding: 0.2rem 0.4rem;
  padding-top: 0.3rem;
  font-weight: 600;
}
.CardCatBoxBreakfast {
  background-color: rgba(195, 0, 255, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 30px;
  text-align: center;
  padding: 0.2rem 0.4rem;
  padding-top: 0.3rem;
  font-weight: 600;
}
.CardCatBoxDessert {
  background-color: rgba(236, 232, 10, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 30px;
  text-align: center;
  padding: 0.2rem 0.4rem;
  padding-top: 0.3rem;
  font-weight: 600;
}

.CardTextP {
  margin-top: 1rem;
  font-size: 0.8rem;
  font-weight: 600;
}

.PrepTimeContainer {
  display: flex;
}

.CardTextPrepTime {
  margin-top: 0.5rem;
}

.CatNavBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 1rem;
}

.CatNavBar > a {
  border: 2px solid #00000067;
  border-radius: 30px;
  padding: 0.2rem 0.4rem;
  padding-top: 0.3rem;
  font-weight: 600;
  text-decoration: none;
  margin-top: 2rem;
  transition: 0.2s;
}

.active {
  position: static;
  font-size: 2rem;
  color: rgb(255, 255, 255);
  text-shadow: 2px -1px 3px black;
  box-shadow: 2px 3px 2px 1px rgba(0, 0, 0, 0.2);
}

.siReCaTitle {
  margin-left: 11rem;
  text-decoration: underline;
  color: #361e12;
  text-shadow: rgba(255, 255, 255, 0.5) 1px 1px 3px;
  font-size: 4rem;
}

.singleRecipeTitleCardContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: solid 3px #361e12;
  background-color: #95745b80;
  padding: 7rem 10rem;
  border-radius: 30px;
  margin-bottom: 3rem;
}

.singleRecipeCardContainer {
  height: auto;
  display: flex;
  margin-top: 1rem;
  padding: 0rem 8rem;
  border-radius: 30px;
  text-shadow: rgba(139, 90, 16, 0.5) 0.1px 0.1px 3px;
}

.siReCaPicture {
  /* border: solid rgb(143, 75, 75) 1px; */
  padding-right: 5rem;
  display: flex;
  align-items: center;
  position: static;
  max-height: 400px;
}

.siReCaText {
  /* border: solid rgb(51, 165, 36) 1px; */
  width: 70%;
  padding: 0 3rem;
  padding-right: 0;
  color: #361e12;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.siReCaTabPanel {
  width: 30rem;
  font-size: large;
  line-height: 2rem;
  margin-bottom: 1rem;
}

.siReCaTabPanel > ul {
  /* border: #361e12 solid 1px; */
  padding-left: 1.2rem;
  margin-top: 2rem;
  list-style: none;
}

.siReCaTabPanel > ul > li {
  text-align: center;
  font-weight: 600;
}

.siReCaImg {
  height: 25rem;
  width: auto;
  border: solid 3px #361e12;
  border-radius: 5%;
  position: static;
}

.siReCaTabP {
  width: 30rem;
  font-size: large;
}

.react-tabs__tab--selected {
  background-color: #ffffff56;
  font-size: 1.5rem;
  color: rgb(0, 0, 0);
  box-shadow: 2px 3px 2px 1px rgba(0, 0, 0, 0.2);
}

.react-tabs__tab {
  border: rgb(0, 0, 0) solid 1px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  color: black;
  padding: 0.5rem;
}

.react-tabs__tab-list {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  font-size: large;
  font-weight: 500;
  font-style: italic;
}

a {
  text-decoration: none;
  color: inherit;
}

.StepList {
  margin: 1rem 0;
  line-height: 1.2rem;
}
